<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>image.dir</param-name>
        <param-value>images</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>m.s.i.anthrax93@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>anthrax1993</param-value>
    </context-param>
    <servlet>
        <servlet-name>Trial</servlet-name>
        <servlet-class>CanShop.Servlets.Trial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegsiterServlet</servlet-name>
        <servlet-class>CanShop.Servlets.RegsiterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>CanShop.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>CanShop.Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>CanShop.Servlets.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>CanShop.Servlets.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>CanShop.Servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>CanShop.Servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <servlet-class>CanShop.Servlets.EmailVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductsServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartUpdateServlet</servlet-name>
        <servlet-class>CanShop.Servlets.CartUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>CanShop.Servlets.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>CanShop.Servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderedProductsServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminOrderedProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLanguageServlet</servlet-name>
        <servlet-class>CanShop.Servlets.ChangeLanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishPurchase</servlet-name>
        <servlet-class>CanShop.Servlets.FinishPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivationMail</servlet-name>
        <servlet-class>CanShop.Servlets.ActivationMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>CanShop.Servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotOffers</servlet-name>
        <servlet-class>CanShop.Servlets.HotOffers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminImagesServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminImagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>CanShop.Servlets.UploadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProductServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminUpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveProductServlet</servlet-name>
        <servlet-class>CanShop.Servlets.AdminRemoveProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Trial</servlet-name>
        <url-pattern>/Trial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegsiterServlet</servlet-name>
        <url-pattern>/Regsiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/admin/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/admin/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersServlet</servlet-name>
        <url-pattern>/admin/Admin_Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductsServlet</servlet-name>
        <url-pattern>/admin/Admin_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartUpdateServlet</servlet-name>
        <url-pattern>/CartUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderedProductsServlet</servlet-name>
        <url-pattern>/admin/Admin_OrderedProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLanguageServlet</servlet-name>
        <url-pattern>/ChangeLanguageServlet</url-pattern>
        <url-pattern>/Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishPurchase</servlet-name>
        <url-pattern>/FinishPurchase</url-pattern>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivationMail</servlet-name>
        <url-pattern>/ActivationMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/admin/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotOffers</servlet-name>
        <url-pattern>/HotOffers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
        <url-pattern>/admin/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminImagesServlet</servlet-name>
        <url-pattern>/AdminImages</url-pattern>
        <url-pattern>/admin/AdminImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/UploadImageServlet</url-pattern>
        <url-pattern>/admin/UploadImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <url-pattern>/AdminEditProductServlet</url-pattern>
        <url-pattern>/admin/AdminEditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProductServlet</servlet-name>
        <url-pattern>/AdminUpdateProduct</url-pattern>
        <url-pattern>/admin/AdminUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveProductServlet</servlet-name>
        <url-pattern>/AdminRemoveProduct</url-pattern>
        <url-pattern>/admin/AdminRemoveProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>CanShop Administration</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>CanShopAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/admin/admin_login.jsp</form-login-page>
            <form-error-page>/admin/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>CanShopAdmin</role-name>
        
    </security-role>
    <jsp-config>
        <jsp-property-group>
            <description>JSP configuration for the admin console</description>
            <url-pattern>/admin/admin.jsp</url-pattern>
            <url-pattern>/admin/admin_login.jsp</url-pattern>
            <url-pattern>/admin/error.jsp</url-pattern>
        </jsp-property-group>
    </jsp-config>
</web-app>
